<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Stylesheet.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/mathjs@4.0.1/dist/math.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML.js"></script>
    <title>Derivi-gal lculator</title>
</head>

<body>
    <!-- <style>
        body,
        h1,
        html,
        table td,
        table th,
        input[type=text],
        input[type=password] {
            font-size: 18pt;
            font-family: verdana, arial, sans-serif;
        }
        #theBigDiv{
            margin: auto;
            text-align: center;
        }

        header {
            font-size: 40px;
        }

        input[type=text],
        input[type=password],
        input[type=button] {
            padding: 5px;
            width: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table td,
        table th {
            padding: 5px;
            border: 1px solid lightgray;
        }

        table th {
            background-color: lightgray;
        }
    </style> -->
     {% include "includes/_navbar.html" %}
    <div class="container">{% block body %} {% endblock %}</div>
    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- <script>
        // Home page and actual calculations
            console.log('connected to JS');
            var expr = document.getElementById('expr'),
                pretty = document.getElementById('pretty'),
                result = document.getElementById('result'),
                solve = document.getElementById('solveButton'),
                expressionDropdown = document.getElementById('operationDropdown'),
                validPost = true,
                parenthesis = 'keep',
                implicit = 'hide';

            // initialize with an example expression
            expr.value = 'sin(x)';
            // This will display an integral to the user using dx
            pretty.innerHTML = '$$\\int(' + math.parse(expr.value).toTex({ parenthesis: parenthesis }) + ') dx$$';
            result.innerHTML = '<span style="color: green;"> Press Solve to Evaluate!</span>';

            // Solves the equation by sending the information to backend for processing
            $(solve).on('click', function () {
                if (validPost == true) {
                    var postData = {
                        "equation": expr.value,
                        "operation": expressionDropdown.value

                    }
                    // Sends a POST request to backend though AJAX
                    // Uses the response to display the answer to the user
                    $.ajax({
                        type: 'POST',
                        url: '/api/evaluate',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify(postData),
                        success: function (responseData) {

                            errorMessage = responseData['data']['errorMessage']
                            if (errorMessage == null) {
                                answer = responseData['data']['answer']
                                result.innerHTML = math.format(math.parse(answer));

                            } else {
                                result.innerHTML = '<span style="color: red;">' + errorMessage + '</span>';
                            }

                        }
                    });
                }
            });


            expr.oninput = function () {
                var node = null;
                try {
                    // parse the expression to reprint nicely
                    node = math.parse(expr.value);
                    // evaluate the result of the expression
                    result.innerHTML = '<span style="color: green;"> Press Solve to Evaluate!</span>';
                    validPost = true;
                } catch (err) {
                    // insert the error message from the backend here
                    validPost = false;
                    result.innerHTML = '<span style="color: red;"> Cannot Read Input</span>';
                }

                try {
                    // export the expression to LaTeX
                    var latex = node ? '\\int(' + node.toTex({ parenthesis: parenthesis, implicit: implicit }) + ') dx' : '';

                    // display and re-render the expression
                    var elem = MathJax.Hub.getAllJax('pretty')[0];
                    MathJax.Hub.Queue(['Text', elem, latex]);

                } catch (err) { }
            };

    </script> -->
</body>

</html>